.content {
    grid-area: c;
    background-color: coral;
    width: 100%;
}

.first_img {
    width: 100%;
}
.second_img {
    width: 50px;
}
.postBlock {
    padding: 10px;
}
.postes {
    margin-top: 10px;
}
