/* @import '~antd/dist/antd.css'; */
@import '/src/uta-custom-antd.css';
@import '~font-awesome/css/font-awesome.min.css';

/* Step 5: On this path /node_module/antd/dist run this command lessc --js my-theme.less result.css or compile it inside the project style folder by running this command lessc --js my-theme.less ../../../src/style/custom-antd.css

Step 6: Open the style folder created in the src directory copy the custom-antd.css , goto index.js replace import "antd/dist/antd.css" with import "../src/style/custom-antd.css". you have finally override the antd theme */
body {
    background: #fafafa;
}
.ant-card {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum', "tnum";
    position: relative;
    background: #fafafa;
    border-radius: 2px;
}
.h100 {
    height: calc(100vh - 64px);
}
.table-row-light {
    background-color: #ffffff;
}
.table-row-dark {
    background-color: lightgray;
}
.ant-input {
  height: 38px;
}
.ant-select {
  height: 38px!important;
}
.ant-input[disabled] {
    /* color: rgba(0, 0, 0, 0.85); */
    background-color: #f5f5f5;
    border-color: #d9d9d9;
    box-shadow: none;
    cursor: not-allowed;
    opacity: 1;
    height: 38px;
}
.ant-picker {
  height: 38px;
}
.css-lr9fot-singleValue {
    color: hsl(0, 0%, 85%);
    grid-area: 1/1/2/3;
    margin-left: 2px;
    margin-right: 2px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}
.homeQueryCard {
    /* border: 1px solid #28a4ae;
    border-radius:5px; */
    padding:'10px';
    margin:10px;
    color:white!important;
    /* background: #f5222d; */
    /* linear-gradient(to bottom, #01a77c 0%,#28a4ae 100%); */
      /* rgba(234,107,76,255); */
    /* #FAAD14;  */
    font-size:18px;
    font-weight:400;
    cursor: pointer;
    
}
.homeQueryCard:hover {
    align-items: center;
    text-align: center;
    color: white!important;
    font-size: 19px;
    /* border: 10 solid green; */
  }

  .homeQueryCardEdit {
    /* border: 5px solid rgba(234,107,76,255); */
    border-radius:5px;
    padding:'10px';
    margin:10px;
    color:gray;
    background:lightgray; 
    font-size:18px;
    font-weight:400;
    cursor: pointer;
    
}  
  /* .antd-pro-charts-treemap-treemap .antd-pro-charts-treemap-legend {
    min-width: 400px
  }   */
  .upload-list-inline .ant-upload-list-item {
    float: left;
    width: 200px;
    margin-right: 8px;
  }
  
  .upload-list-inline [class*='-upload-list-rtl'] .ant-upload-list-item {
    float: right;
  }  

  /* sider */
  #components-layout-demo-custom-trigger .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  #components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
  }
  
  #components-layout-demo-custom-trigger .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }
  #components-layout-demo-side .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  
 .ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input {
    height: 38px;
}
.ant-menu-item-selected {
  background-color: transparent !important;
}
.truncatePopover {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* .ant-btn-primary {
  background: linear-gradient(to bottom, #01a77c 0%,#28a4ae 100%);
} */


.preview-box {
  position: relative;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  padding: 40px 15px 20px;
  font-weight: 500;
  margin: 10px 0;
  color: #333;
}
 
  
  .preview-title {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 10px;
    text-transform: uppercase;
    background: #eee;
    font-weight: 600;
    border: 1px solid #ddd;
    border-top: 0;
    border-left: 0;
    border-radius: 5px 0 5px 0;
    padding: 5px 12px;
    letter-spacing: 1px;
  }
  .table-row-pend {
    color: #28a4ae;
    font-weight:500;
  }
  
  .table-row-complete {
    background-color: #f5f5f5;
}

.table-row-selected {
  text-decoration: underline;
  /* color:white;
  background-color: black; */
  /* text-shadow: 2px 2px 5px black; */
  font-weight:500;
  font-size: larger;
  border: black 2px solid!important;
  padding:5px;
}
.table-row-selected:hover {
  text-decoration: underline;
  /* color:black; */
  /* background-color: white; */
  /* text-shadow: 2px 2px 5px white; */
  font-weight:500;
  font-size: larger;
  border: black 2px solid!important;
  padding:5px;
}
.table-row-selected:-moz-focusring {
  text-decoration: underline;
  /* color:white;
  background-color: black; */
  /* text-shadow: 2px 2px 5px black; */
  font-weight:500;
  font-size: larger;
  border: black 2px solid!important;
  padding:5px;
}

.table-row-reject {
  text-decoration:wavy;
  color:red;
  font-weight:500;
}
.table-row-start-end {
  color:transparent;
  background-color: transparent;
  height: 10px!important;
}
.table-row-start-end:hover {
   color:transparent;
  background-color: transparent;
  height: 10px!important;
}

.Waiting0 {
  color: #88d969;
  text-shadow: -1px 1px 1px green, -1px 1px green;
  font-size: 25px;
}
.Waiting1 {
  color: #46cb18;
  text-shadow: -1px 1px 1px green, -1px 1px green;
  font-size: 25px;
}
.Waiting2 {
  color: #ffd858;
  text-shadow: -1px 1px 1px #e8a317, -1px 1px #e8a317;
  font-size: 25px;
}
.Waiting3 {
  color: #e8a317;
  text-shadow: -1px 1px 1px #ef7215, -1px 1px #ef7215;
  font-size: 25px;
}
.Waiting4 {
  color: #ef7215;
  text-shadow: -1px 1px 1px #ff2400, -1px 1px #ff2400;
  font-size: 25px;
}
.Waiting5 {
  color: #ff2400;
  text-shadow: -1px 1px 1px #800000, -1px 1px #800000;
  font-size: 25px;
}
.ErrorH1 {
  color: red;
  font-weight: 700;
  background-color:black;
  padding:5px;
}
#contentEditable img {
  height:100%;
  width:100%;
  margin: auto;
  display: block;
}
#components-table-demo-resizable-column .react-resizable {
  position: relative;
  background-clip: padding-box;
}

#components-table-demo-resizable-column .react-resizable-handle {
  position: absolute;
  right: -5px;
  bottom: 0;
  z-index: 1;
  width: 10px;
  height: 100%;
  cursor: col-resize;
}