.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;

  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}
.app-wrapper-content {
  grid-area: c;
  background-color: coral;
  width: 100%;
}
.app-wrapper-navbar {
  grid-area: n;
  background-color: lightseagreen;
  padding: 20px;
}
.app-wrapper-header {
  grid-area: h;
  background-color: rgb(37, 196, 37);
}
